{% extends 'core/base.html' %} {% comment %}
<!------------------------------->{% endcomment %} {% block title %} Sign up |
{% endblock %} {% load static %}{% comment %}

<!--------------------------------->
{% endcomment %} {% block content %} {% load static %}

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Dashboard</a></li>
    <li>
      <a class="is-active" href="{% url 'myaccount' %}" aria-current="page"
        >My account</a
      >
    </li>
  </ul>
</nav>

<div class="columns">
  <div class="column is-8">
    <div class="media mb-4">
      <div class="media-left">
        <figure class="image is-64x64">
           <img src="{{user.userprofile.get_avatar}}">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-3">{% firstof user.get_full_name user.username %}</p>
        <p class="subtitle is-6">{{ user.email }}</p>
      </div>
    </div>
    <div class="pt-4">
      <a href="{% url 'edit_profile' %}" class="button is-info"> <i class="fas fa-marker"></i>Edit profile</a>
      <a href="{% url 'logout' %}" class="button is-danger is-outlined">Log out</a>
    </div>
  </div>
  <div class="picture colum is-4">
    <img class="account-img" src="{% static 'images/icon.png' %}" />
  </div>
</div>

<hr>
{% if invitations %}
<div class="team team-invitation">
  <h2><i class="fas fa-user-friends icon-new"></i>You have pending invitations</h2>

<ol type="1">
  {% for invitation in invitations %}
    <li><a href="{% url 'accept_invitation' %}"><span class="invite-team-link">{{ invitation.team.title }}</span></a></li>
  {% endfor %}
</ol>
</div>
{% endif %}

<div class="columns">
   <div class="column is-12">
      <h2 class="subtitle team-title">Teams</h2>

      <a href="{% url 'team:add' %}" class="button add-team is-medium is-fullwidth">
      <i class="fas fa-plus"></i>
      Add Team</a>
   </div>
</div>

<div class="columns ">
    {% if active_team %}
       <div class="column is-4 ">
      <div class="notification has-background-success-light team">
         <h3 class="is-size-5">
         {{ active_team.title }}
         {% if active_team.created_by == request.user %} (Owner)
         {% else %} (Member)
         {% endif %}
          </h3>
          <h3 class="is-size-6">SHOW PLAN HERE</h3>

          <hr>

          <a href="{% url 'team:team' active_team.id %}" class="button is-info is-light">
           <i class="fas fa-info-circle"></i>
            Details
          </a>
          {% if active_team.created_by == request.user %}
          <a href="#" class="button is-info">
              <i class="fas fa-retweet"></i>
              INVITE USERS
          </a>
          {% endif %}
        

      </div>
   </div>
    {% endif %}
   {% for team in teams %}
   <div class="column is-4">
      <div class="notification not-activated-team">
         <h3 class="is-size-5">
         {{ team.title }}
          </h3>
          <h3 class="is-size-6">SHOW PLAN HERE</h3>

          <hr>
          <a href="{% url 'team:team' team.id %}" class="button is-info is-light">
           <i class="fas fa-info-circle"></i>
            Details
          </a>
          <a href="{% url 'team:activate_team' team.id %}" class="button is-info">
             <i class="fas fa-hand-sparkles"></i>
             Activate
          </a>

      </div>
   </div>
   {% endfor %}
</div>

{% endblock %}
