{% extends 'core/base.html' %}

{% block title %} Dashboard | {% endblock %}
{% block content %}{% load static %}
 <div class="columns is-multiline">
   <div class="column is-6">
     <div class="team">
        
     <h2 class="subtitle">Your time {% if num_days is 0 %}today {% else %} {{ date_user|date:"Y-m-d" }}{% endif %}</h2>

     {% if date_entries %}
       <table class="table is-fullwidth" style="text-align: left">
          <thead>
            <tr> 
              <td>Task</td>
              <td>Project</td>
              <td>Time</td>
            </tr>
          </thead>

          <tbody>
            {% for entry in date_entries %}
               <tr>
                  <td>{{ entry.task.title }}</td>
                  <td>{{ entry.project.title }}</td>
                  <td>{{ entry.minutes }}</td>
               </tr>
            {% endfor %}
          </tbody>

          <tfoot>
            <tr>
              <td colspan="2">Total</td>
              <td>{{ time_for_user_and_date }}</td>
            </tr>
          </tfoot>
       </table>
       {% else %}
      <div class="column is-6">
        <div class="">
         <p class="nothing">No enties today...</p>
          <img class="account-img" src="{% static 'images/empty.svg' %}" />
        </div>
      </div>
     {% endif %}

     <a href="?num_days={{ num_days|add:'1'}}" class="mt-4">Previous</a>
     {% if num_days > 0 %}
       <a href="?num_days={{ num_days|add:'-1'}}" class="mt-4">Next</a>
     {% endif %}
   </div>
 </div>

 <div class="columns is-multiline">
    <div class="column is-12">
      <h2 class="subtitle">Newest projects</h2>
    </div>
 </div>
{% endblock %}