{% extends 'core/base.html' %} {% comment %}
<!--------------------------------->
{% endcomment %} {% block title %} Add Team | {% endblock %} {% comment %}
<!--------------------------------->
{% endcomment %} {% block content %} {% comment %}
<!--------------------------------->
{% endcomment %}
{% load static %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Dashboard</a></li>
    <li><a href="{% url 'team:add' %}">Add team</a></li>
    <li>
      <a class="is-active" href="{% url 'edit_profile' %}" aria-current="page"
        >Edit Profile</a
      >
    </li>
  </ul>
</nav>

<div class="columns" id="team-app">
  <div class="column is-4">
    <h1 class="title">Add team</h1>

    <form method="post" action="." @submit="validateForm">
      {% csrf_token %}

      <div class="field">
         <label>Title</label>
         <div class="control">
            <input class="input is-info" type="text" name="title" id="id_title" v-model="title">
         </div>
      </div>

      <div class="notification is-danger" v-if="errors.length">
        <p v-for="error in errors">[[ error ]]></p>
      </div>

      <div class="field">
        <div class="control">
          <button class="button is-success">Save changes</button>
        </div>
      </div>

    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
  const TeamApp = {
      data() {
          return {
              title: '{{ team.title }}',
              errors: []
          }
      },
      delimiters: ['[[',']]'],
      methods: {
          validateForm(e) {
             this.errors = [] 

             if(this.title){
                 return true
             }

             e.preventDefault()

             this.errors.push('The title field is missing')
             return false
          }
      }
  }

  Vue.createApp(TeamApp).mount('#team-app')
</script>
{% endblock %}