{% extends 'core/base.html' %} {% comment %}
<!--------------------------------->
{% endcomment %} {% block title %} {{ team.title }} | {% endblock %} {% comment %}
<!--------------------------------->
{% endcomment %} {% block content %} {% comment %}
<!--------------------------------->
{% endcomment %}
{% load static %}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="#">Dashboard</a></li>
    {% comment %} team.id is primary key sending to  teams page to show details {% endcomment %}
    <li><a href="{% url 'team:team' team.id %}">{{ team.title }}</a></li>
    <li>
      <a class="is-active" href="{% url 'edit_profile' %}" aria-current="page"
        >Edit Profile</a
      >
    </li>
  </ul>
</nav>

<div class="columns is-multiline" id="team-app">
  <div class="column is-8">
    <h1 class="title">{{ team.title }}</h1>

    {% if request.user == team.created_by %}
      <a href="{% url 'team:invite' %}" class="button is-primary">Invite users</a>
    {% endif %}

    <hr>

    <h2 class="subtitle mt-6"> <i class="fas fa-user-friends icon-new"></i>Members</h2>
 <ol type="1">
    {% for member in team.members.all %}
        <li>{{ member.username }}</li>
    {% endfor %}
    </ol>
   <hr>
    <h2 class="subtitle mt-6"><i class="fas fa-people-arrows icon-new"></i>Invited Members</h2>

    <ol type="1">
      {% for member in invitations %}
        <li><span class="member-email">{{ member.email }}</span>- {{ member.date_sent|timesince }} ago</li>
      {% endfor %}
    </ol>

  </div>
  <div class="column is-4">
     <img src="{% static 'images/9814.jpg' %}"/>
  </div>
</div>


{%if team.created_by == request.user %}
 <div class="column is-4">
    <hr>

    <h3 class="subtitle">Owner actions</h3>
    <a href="{% url 'team:edit' %}" class="button is-warning"><i class="far fa-edit"></i>Edit team</a> 
 </div>
{% endif %}

{% endblock %}