{% load static %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html>
  <head>
    <!--Meta-->
    <meta charset="utf-8" />

    <!--Title-->
    <title>{% block title %}{% endblock %}Minutos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />

    <!--Bulma-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/team.css' %}" />


    
  </head>

  <body>
    <!--Navbar-->
    <div id="navbar-app">
      <nav class="navbar is-mobile">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <strong>Minutos</strong>
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-end">
          
            {% if not request.user.is_authenticated %}
              <a href="{% url 'plans' %}" class="navbar-item">Plans</a>
             {% else %}
              <a href = "{% url 'dashboard' %}" class="navbar-item">Dashboard</a>
              <a href="{% url 'project:projects' %}" class="navbar-item">Projects</a>
            {% endif %}

            <div class="navbar-item">
              <div class="buttons">
                {% if request.user.is_authenticated %}
                
                <a href="{% url 'myaccount' %}" class="button signup--button">
                <span class="icon user-icon" ><i class="fas fa-user"></i></span>
                  <strong id="signup--button--text">{% firstof request.user.get_full_name request.user.username %}
                  {% if active_team %}({{ active_team.title  }}){%endif%}
                  </strong>
                  
                </a>
                {% else %}
                <a href="{% url 'signup' %}" class="button signup--button">
                  <strong id="signup--button--text">Sign Up</strong>
                </a>
                <a href="{% url 'login' %}" class="button login--button"
                  >Log in</a
                >
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <!--End Navbar-->

    <!--Main-->
    <section class="section">
    {% if messages %}
      {% for message in messages %}
        <div class="notification notify">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% block content %} {% endblock %}</section>
    <!--End Main-->

    <!--Footer-->
    <footer class="footer">
      <div class="columns is-multiline">
        <div class="column is-4">
          <h2 class="subtitle">Minutos</h2>
        </div>

        <div class="column is-offset-6 is-2">
          <ul>
            <li><a class="footer-link" href="#">Contact</a></li>
            <li>
              <a class="footer-link" href="{% url 'privacy' %}"
                >Privacy policy</a
              >
            </li>
            <li>
              <a class="footer-link" href="{% url 'terms' %}"
                >Terms of service</a
              >
            </li>
          </ul>
        </div>

        <div class="column is-12 has-text-centered">
          <p>Copyright (c) 2020</p>
        </div>
      </div>
    </footer>
    <!--End of Footer-->

        <!-- Font Awesome -->
        {% comment %} <sclript src="https://kit.fontawesome.com/4764f4dcde.js" crossorigin="anonymous"></sclript> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.js"></script>
    <!--Scripts-->
    <script src="https://unpkg.com/vue@next"></script>

    {% block scripts %} {% endblock %}
    <!--End of Scripts-->
  </body>
</html>
