{% load static %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html>
  <head>
    <!--Meta-->
    <meta charset="utf-8" />

    <!--Title-->
    <title>{% block title %}{% endblock %}Minutos</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />

    <!--Bulma-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="stylesheet" href="{% static 'styles/base.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/team.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}" />


    
  </head>

  <body>
    <!--Navbar-->
    <div id="navbar-app">
      <nav class="navbar px-3 is-mobile">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <strong>Minutos</strong>
          </a>
        </div>

        <div class="navbar-menu">
          <div class="navbar-end">
          
            {% if not request.user.is_authenticated %}
              <a href="{% url 'plans' %}" class="navbar-item">Plans</a>
             {% else %}
              <a href = "{% url 'dashboard' %}" class="navbar-item">Dashboard</a>
              <a href="{% url 'project:projects' %}" class="navbar-item">Projects</a>

              <div class="navbar-item" v-if="!trackingTime">
                <div class="buttons">
                  <a class="button is-info is-outlined" @click="startTimer()">
                    <span class="new_icon icon"><i class="fas fa-stopwatch"></i></span>
                    <span>Start</span>
                  </a>
                </div>
              </div>
              <div class="navbar-item" v-else>
                <div class="buttons">
                  <a class="button is-primary is-outlined" @click="stopTimer()">
                    <span class="new_icon icon"><i class="fas fa-stopwatch"></i></span>
                    <span>[[ readableSeconds ]] (Stop)</span>
                  </a>
                </div>
              </div>
            {% endif %}

            <div class="navbar-item">
              <div class="buttons">
                {% if request.user.is_authenticated %}
                
                <a href="{% url 'myaccount' %}" class="button signup--button">
                <span class="icon user-icon" ><i class="fas fa-user"></i></span>
                  <strong id="signup--button--text">{% firstof request.user.get_full_name request.user.username %}
                  {% if active_team %}({{ active_team.title  }}){%endif%}
                  </strong>
                  
                </a>
                {% else %}
                <a href="{% url 'signup' %}" class="button signup--button">
                  <strong id="signup--button--text">Sign Up</strong>
                </a>
                <a href="{% url 'login' %}" class="button login--button"
                  >Log in</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div class="modal" :class="{'is-active': showTrackingModal}">
        <div class="modal-background">
        </div>

        <div class="modal-card">
          <div class="modal-card-head">
            <p class="modal-card-title">Tracked time</p>
          </div>
          <div class="modal-card-body">
            <p>You have tracked [[ readableSeconds ]]</p>
          </div>
          <footer class="modal-card-foot">
            <button class="button is-primary" @click="addToTask()">Add to task</button>
            <button class="button is-primary is-outlined" @click="addLater()">Add later</button>
            <button class="button is-danger is-outlined" @click="discardTimer()">Discard</button>
          </footer>
        </div>
      </div>
    </div>
    <!--End Navbar-->

    <!--Main-->
    <section class="section">
    {% if messages %}
      {% for message in messages %}
        <div class="notification notify">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% block content %} {% endblock %}</section>
    <!--End Main-->

    <!--Footer-->
    <footer class="footer">
      <div class="columns is-multiline">
        <div class="column is-4">
          <h2 class="subtitle">Minutos</h2>
        </div>

        <div class="column is-offset-6 is-2">
          <ul>
            <li><a class="footer-link" href="#">Contact</a></li>
            <li>
              <a class="footer-link" href="{% url 'privacy' %}"
                >Privacy policy</a
              >
            </li>
            <li>
              <a class="footer-link" href="{% url 'terms' %}"
                >Terms of service</a
              >
            </li>
          </ul>
        </div>

        <div class="column is-12 has-text-centered">
          <p>Copyright (c) 2020</p>
        </div>
      </div>
    </footer>
    <!--End of Footer-->

        <!-- Font Awesome -->
        {% comment %} <sclript src="https://kit.fontawesome.com/4764f4dcde.js" crossorigin="anonymous"></sclript> {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.js"></script>
    <!--Scripts-->
    <script src="https://unpkg.com/vue@next"></script>

    <script>
      const NavbarApp = {
        data(){
          return {
            seconds: {{active_entry_seconds}},
            trackingTime: false,
            showTrackingModal: false,
            timer: null,
            entryId: 0,
            startTime: '{{ start_time }}'
          }
        },
        delimiters: ['[[', ']]'],
        methods: {
          startTimer(){
           fetch('/dashboard/projects/api/start_timer/', {
             method: 'POST',
             headers: {
               'Content-Type':'application/json',
               'X-CSRFToken': '{{ csrf_token }}'
             }
           }).then((response) => {
                return response.json()
           }).then((result) => {
             this.startTime = new Date()
             this.trackingTime =true

             this.timer = setInterval(() => {
               this.seconds = (new Date() - this.startTime) / 1000
             }, 1000)
           })
          },
          stopTimer(){
            fetch('/dashboard/projects/api/stop_timer/', {
             method: 'POST',
             headers: {
               'Content-Type':'application/json',
               'X-CSRFToken': '{{ csrf_token }}'
             }
           }).then((response) => {
                return response.json()
           }).then((result) => {
              this.entryID = result.entryID
              this.showTrackingModal = true
              this.trackingTime = false

              window.clearTimeout(this.timer)
           })
          },
    
        discardTimer(){
           fetch('/dashboard/projects/api/discard_timer/', {
             method: 'POST',
             headers: {
               'Content-Type':'application/json',
               'X-CSRFToken': '{{ csrf_token }}'
             }
           }).then((response) => {
             this.seconds = 0
             this.showTrackingModal = false
           })
        },
        addLater(){
           this.seconds = 0
           this.showTrackingModal = false
          }
        },
       mounted() {
          if (this.seconds !== 0) {
              this.trackingTime = true
              this.timer = setInterval(() => {
                  this.seconds = (new Date() - new Date(this.startTime)) / 1000
              }, 1000)
          }
      },
      computed: {
          readableSeconds() {
              const d = Number(this.seconds);
              const h = Math.floor(d / 3600);
              const m = Math.floor(d % 3600 / 60);
              const s = Math.floor(d % 3600 % 60);

              const hDisplay = h > 0 ? h + (h == 1 ? "h, " : "h, ") : "";
              const mDisplay = m > 0 ? m + (m == 1 ? "m, " : "m, ") : "";
              const sDisplay = s >= 0 ? s + (s == 1 ? "s" : "s") : "";

              return hDisplay + mDisplay + sDisplay; 
          }
        }
      }
      Vue.createApp(NavbarApp).mount('#navbar-app')
    </script>

    {% block scripts %}
    
    {% endblock %}
    <!--End of Scripts-->
  </body>
</html>
