{% extends 'core/base.html' %}
<!--------------------------------------------------->
{% load static %}
<!--------------------------------------------------->
{% block title %}Plans| {% endblock %}
<!--------------------------------------------------->
{% block content %}
<!--------------------------------------------------->
<section class="hero" id="hero--body">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Plans</h1>
      <h2 class="subtitle">Find the most suitable plan for your team</h2>
    </div>
  </div>
</section>

<div class="columns mt-6">
  <div class="column is-3">
    <div class="card card--plan">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 media-content-text">Free</p>
            <p class="subtitle is-6 media-content-text">$0</p>
          </div>
        </div>

        <div class="content">
          <ul>
            <li>3 projects</li>
            <li>1 member</li>
            <li>10 tasks per project</li>
          </ul>

          <hr />

          <a href="#" class="button is-primary">Get started</a>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card card--plan">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 media-content-text">Basic</p>
            <p class="subtitle is-6 media-content-text">$10</p>
          </div>
        </div>

        <div class="content">
          <ul>
            <li>5 projects</li>
            <li>2 members</li>
            <li>20 tasks per project</li>
          </ul>

          <hr />

          <a href="#" class="button is-primary">Get started</a>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card card--plan card--main">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 media-content-text">Pro</p>
            <p class="subtitle is-6 media-content-text">$35</p>
          </div>
        </div>

        <div class="content">
          <ul>
            <li>10 projects</li>
            <li>15 members</li>
            <li>30 tasks per project</li>
          </ul>

          <hr />

          <a href="#" class="button is-primary">Get started</a>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-3">
    <div class="card card--plan">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4 media-content-text">Need more?</p>
            <p class="subtitle is-6 media-content-text">$?</p>
          </div>
        </div>

        <div class="content">
          <ul>
            <li>Need more projects?</li>
            <li>Need more members?</li>
            <li>Need more tasks?</li>
          </ul>

          <hr />

          <a href="#" class="button is-primary">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
